/*OTHERS*/
*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

html{
    scroll-behavior: smooth;

}

body{
    background-image:linear-gradient(to right, #e8cbc0 0%, #636fa4 100%);
}

/* NAVBAR */
header{
        height:70px;
        width: 100%;
        display:flex;
        position: fixed;
        align-items: center;
        z-index: 5; 
        transition:0.3s;
        background-color: rgb(50, 50, 50);
}

.navbar{
        font-size: 1rem;
        align-items: center;
        height: 70px;
        width: 100%;
        position:relative;
        overflow: hidden;  
        user-select: none;
        list-style:none;
        padding-bottom:10px;
}

.navbar-links{
        display:flex; 
        margin-left: auto;
        margin-right: 10px;
        float: right;
}

.circle-logo{
        padding: 1rem;
        margin-left: 20px;
        background-image: linear-gradient(to bottom, #ff5e62, #ff9966);
        border-radius: 50%;
}

.navbar-links li{
        padding: 15px 10px 10px 15px;
        list-style: none;
        cursor: pointer;
}

.navbar li:hover{
        background-color: rgb(50, 50, 50);
        border-radius: 8px;
        box-shadow:inset 3px 3px 4px rgb(30, 30, 30); 
        transition-duration:0.5s;
}

.navbar-links li a {
        text-decoration: none;
        color:white;
}

.hamburger {
	display: none;
}
 
.hamburger div{
	width: 30px;
	height: 3px;
	background: #dbdbdb;
	margin: 5px;
	transition:all 0.3s ease;
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinkFade{
	from{
		opacity:0;
		transform: translatex(50px);
	}
	to{
		opacity: 1;
		transform:translatex(0px);
	}
}

@media only screen and (max-width: 500px) {
  #gh{height:12px;} /*IGNORE*/
   body{
        overflow-x: hidden;
   }
    .circle-logo{
        position:absolute;
        margin-right:80%;
    }   
    .navbar-links{
        display:initial;
        margin-right: 100px;
    }
    .navbar{
        position: fixed;
        top: 65px;        
        right:0;
        width:60%;
        margin-left:30px;
        margin-right:auto;
        height: 100vh;
        transform: translateX(100%);
        background:rgb(50, 50, 50);
        flex-direction: column;
        transition: transform 0.5s ease-in;
        z-index: 1; 
    }
    .hamburger{
        position:absolute;
        top: 20px;
        right: 20px;
        display: block;
        cursor:pointer;
        z-index: 5;
    }   
    .navbar-links li{  
        opacity:0;
    }

    .navbar li:hover{
        border-radius: 8px;
        box-shadow:inset 2px 2px 5px black;
    }
}
.nav-active{
        transform:translateX(0%);
}